<fury-scrollbar class="overflow-container">
  <mat-card>
    <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
      <mat-form-field>
        <input #input matInput placeholder="Nombre" [(ngModel)]="name">
      </mat-form-field>
      <mat-form-field>
        <input #input matInput placeholder="Apellido" [(ngModel)]="lastname">
      </mat-form-field>
      <mat-form-field>
        <input #input matInput placeholder="CI" [(ngModel)]="ci">
      </mat-form-field>
      <mat-form-field>
        <input #input matInput placeholder="Telefono" [(ngModel)]="phone">
      </mat-form-field>
      <button [title]="isSearchDisabled()?'Al menos uno de los campos de busqueda debe tener 3 caracteres':''" class="search-button"
        mat-button (click)="find()" fxFlex="grow" [disabled]="isSearchDisabled()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <div>
      <div *ngIf="addingEvent">
        <table class="table">
          <tr>
            <td>CI</td>
            <td>Nombre</td>
            <td>Apellido</td>
          </tr>
          <tr>
            <td>{{addingCI}}</td>
            <td>{{addingName}}</td>
            <td>{{addingLastname}}</td>
          </tr>
        </table>
        <mat-form-field>
          <input #input matInput placeholder="Mensaje" [(ngModel)]="addingMessage">
        </mat-form-field>

      </div>
      <div *ngIf="!addingEvent">
        <table class="table">
          <tr>
            <td>CI</td>
            <td>Nombre</td>
            <td>Apellido</td>
          </tr>
          <tr *ngFor="let c of customersSearch">
            <td>{{c.ci}}</td>
            <td>{{c.names}}</td>
            <td>{{c.lastnames}}</td>
          </tr>
        </table>
      </div>
    </div>
  </mat-card>
</fury-scrollbar>