# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist-server
/tmp
/out-tsc

/.metadata

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
server/src/controllers/*.j*
server/src/models/*.j*
server/src/app.j*
server/src/routes/*.j*
datatypes/*.j*
server/bd/*.j*
datatypes/viewDataType/engagement.js
datatypes/viewDataType/VSchedule.js.map
datatypes/viewDataType/VSchedule.js
datatypes/viewDataType/engagement.js.map
datatypes/filter/filter.js
datatypes/filter/filters.js
datatypes/filter/filters.js.map
datatypes/filter/filter.js.map
server/src/tempLib/importRequiro.js
datatypes/reports/call.js
datatypes/reports/call.js.map
git-push.sh
git-pull.sh
server/src/controllers/BreakController.js
server/src/controllers/BreakTypeController.js
server/src/controllers/accountsController.js
server/src/controllers/authenticateController.js
server/src/controllers/scheduleController.js
server/bd/clientConnectionsBD.js
server/src/logic/filters/base-filter-processor.js
server/src/logic/filters/processor.js
server/src/models/AccountsModel.js
server/src/models/BreakTypeModel.js
server/src/models/CustomerEventTypeModel.js
server/src/logic/filters/basic-filters/campaign-filter-processor.js
server/src/logic/filters/basic-filters/customer-age-filter-processor.js
server/src/logic/filters/basic-filters/customer-debt-filter-processor.js
server/src/logic/filters/basic-filters/customer-state-filter-processor.js
server/src/logic/filters/complex-filters/customer-interactions-filter-processor.js
datatypes/filter/filterResult.js
datatypes/filter/filterResult.js.map
datatypes/Break.js
datatypes/Break.js.map
datatypes/Campaign.js
datatypes/Campaign.js.map
datatypes/clientEvent.js
datatypes/clientEvent.js.map
datatypes/eventType.js
datatypes/eventType.js.map
datatypes/result.js
datatypes/result.js.map
datatypes/filter/stepFilter.js
datatypes/filter/stepFilter.js.map
datatypes/filter/filter-progress.js
datatypes/filter/filter-progress.js.map
datatypes/filter/filter-step.js
datatypes/filter/filter-step.js.map
client/src/app/requiro/import-data/import-data.module.spec.ts
server/motionLibJS/serverSide/masterClientDBFramework/controllers/controllerDBMaster.js
server/src/controllers/customerEventTypeController.js
server/motionLibJS/serverSide/masterClientDBFramework/controllers/controllerDBClient.js
server/motionLibJS/serverSide/acl/motionACL.js
server/motionLibJS/serverSide/acl/motionACL.1.js
server/motionLibJS/serverSide/acl/newACL.js
server/motionLibJS/serverSide/masterClientDBFramework/db/master_database_connection.js
server/motionLibJS/serverSide/masterClientDBFramework/db/master_database_connection.1.js
server/motionLibJS/serverSide/mysql/mysqlConnection.js
server/src/DLabLib/FieldValidator.js
package-lock.json
client/package-lock.json
server/src/logic/filters/basic-filters/customer-assign-date-filter-processor.js
server/src/logic/filters/basic-filters/customer-age-filter-processor.1.js
client/src/app/requiro/engagement/engagement.module.spec.ts
server/motionLibJS/serverSide/mysql/mysqlConnection.1.js
server/src/logic/filters/basic-filters/customer-days-arrears-filter-processor.js
server/src/logic/filters/complex-filters/campaign-filter-processor.js
server/dLabDB/serverSide/mysql/mysqlPromiseConnection.js
server/dLabDB/serverSide/masterClientDBFramework/controllers/controllerPromiseDBClient.js
pull.sh
push.sh
server/src/models/dbUtils/dbParser.js
server/motionLibJS/motionMail/motionMail.js
