<mat-card style="width: 420px;margin:auto;text-align: center;">
  <div *ngIf="breakRunning">
    <div class="container-fluid">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center" fxLayoutGap.gt-sm="16px">
        <span style="font-size: 80px;margin:auto;">Pausa</span>
      </div>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center" fxLayoutGap.gt-sm="16px">
        <span style="font-size: 70px;margin:auto;">{{pauseTime}}</span>
      </div>
      <div fxLayout="row" fxLayoutGap.gt-sm="16px" *ngIf="breakType" fxLayoutAlign="center" style="font-size: 70px; margin: 0 auto;">
        {{breakType.label}}
      </div>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
        <mat-form-field color="primary" fxFlex.gt-sm>
          <input matInput placeholder="Contraseña:" type="password" [(ngModel)]="password" [formControl]="passwordCtrl">
        </mat-form-field>
      </div>
    </div>
    <div class="actions" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="8px">
      <button mat-raised-button color="primary" (click)="brakeEnd()" *ngIf="passwordCtrl.status !== 'INVALID'">Retomar trabajo</button>
      <button mat-raised-button color="primary" *ngIf="passwordCtrl.status === 'INVALID'" disabled>Retomar trabajo</button>
    </div>
  </div>
  <div *ngIf="!breakRunning">
    El usuario no se encuentra en pausa.
  </div>
</mat-card>
