.eventAnnotationGreen{
    width: 800px;
    color: #77aa77;
    padding: 15px;
}


.eventAnnotationYellow{
    width: 800px;
    color: yellow;
    padding: 15px;
}

.eventAnnotationRed{
    width: 800px;
    color: red;
    padding: 15px;
}